# Template for analysis repos

# Windows System Files
*.tmp

# MacOS System Files
.DS_Store
.Rapp.history

# Data Files
.RData
*.csv
*.xlsx
*.pdf
*.zip
*.json

# R files
.Rhistory

# Documentation/reports
*.doc
*.html
*.png
*.svg
*.jpg
*.jpeg

# Folders
_tmp
tmp
img
report

# Jupyter Notebooks
.ipynb_checkpoints/
